/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.container {
  width: 85vw;
  margin: auto;
}

/*
HOME COMPONENT
*/
header .main-content {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
header .main-content img {
  width: 100%;
}
header .main-content button {
  color: #fff;
  border: 0;
  padding: 14px 25px;
  background: #3b77db;
  border-radius: 5px;
}
@media (min-width: 800px) {
  header .main-content img {
    max-width: 500px;
  }
}
