.container {
  width: 85vw;
  margin: auto;
}

/*
HOME COMPONENT
*/
header .main-content {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
header .main-content img {
  width: 100%;
}
header .main-content button {
  color: #fff;
  border: 0;
  padding: 14px 25px;
  background: #3b77db;
  border-radius: 5px;
}
@media (min-width: 800px) {
  header .main-content img {
    max-width: 500px;
  }
}

/*
INFO COMPONENT
*/
#info-component {
  height: 100vh;
  display: flex;
  background: rgb(220, 220, 220);
  flex-direction: column;
}
/* .image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.image-wrapper figure {
  border: solid 1px red;
}
#info-component .info {
  margin-top: auto;
  background: #fff;
}
